
html
    head
        link(rel="shortcut icon" type="image/png" href="public/uploads/setting/logo.png")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style.
            body {
                font-family: Arial, sans-serif;
                font-size: 12px;
                margin: 0;
                padding: 0;
                background-color: #fff;
            }
            .sheet {
                padding: 20px;
                width: 100%;
                height: 297mm;
                box-sizing: border-box;
            }
            p {
                font-size: 14px
            }
            p.invoice {
                padding-top: 15px;
            }
            .header {
                width: 100%;
                height: 200px;
                box-sizing: border-box;
                background: #00d3e0;
                color: white;
                padding: 20px;
            }
            .logo-container {
                width: 50%;
                float: left;
            }
            .logo {
                height: 100px;
                margin-top: 50px;
            }
            .title {
                width: 50%;
                float: right;
                font-size: 36px;
                text-align: right;
                font-weight: bold;
            }
            p.border {
                border-bottom: 2px solid #00d3e0;
                padding-bottom: 5px;
                margin: 0;
            }
            p.bg1 {
                color:#8f882e; 
            }
            p.bg2 {
                color:#734080; 
            }
            .section {
                width: 100%;
                padding: 20px;
                box-sizing: border-box;
            }
            .left {
                float: left;
                width: 50%;
                font-size: 16px;
                text-align: left;
            }
            .right {
                width: 50%;
                float: right;
                text-align: right;
                font-size: 16px;
            }
            p.phone,p.email,p.gst, p.po,p.pd {
                padding-top: 10px;
            }
            .section p {
                margin: 3px 0;
            }
            p.strong {
                font-size: 18px;
                font-weight: bold;
            }
            p.due {
                padding-top: 65px;
            } 
            td.none {
                display: none;
            }
            .table {
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;
            }
            .table th {
                background: #00d3e0;
                color: black;
                padding: 10px;
                border: 1px solid #ccc;
                text-align: center;
            }
            .table td {
                padding: 10px;
                border: 1px solid #ccc;
                text-align: center;
            }
            .totals {
                float: right;
                width: 300px;
                margin-top: 20px;
            }
            .totals td {
                padding: 8px;
                text-align: right;
            }
            .net-amount {
                color: red;
                font-weight: bold;
                font-size: 16px;
            }
            p.invoice {
                padding-top: 20px;
            }
            .footer {
                width: 100%;
                padding: 20px;
                box-sizing: border-box;
            }
            .bankdetails {
                width: 50%;
                float: left;
            }
            .sign {
                width: 50%;
                float: right;
                text-align: right;
            }
            td.cap {
                 text-transform: uppercase;
            }
            .div {
                width: 100%;
                padding: 20px;
                display: flex;
                box-sizing: border-box;
            }
            .row-1 {
                width: 100%;
            }
            .row-2 {
                width: 100%;
                margin-top: 25px;
                font-size: 16px;
                margin-left: 15px;
                text-align: center;
                color: #555;
                font-style: italic;
            }





    body
        .sheet
            .header
                .logo-container
                    img.logo(src=settings.public_server_file+settings.company_logo) 
                .title
                    h1 INVOICE

            .section
                .left 
                    p.strong.border.bg1 Invoice To:
                    p.strong #{model.client.name}
                    p #{model.client.address}
                    p.phone Phone: #{model.client.phone}                
                    p.email Email: #{model.client.email}
                    p.gst GST NO: #{model.client.gstno}
                    p.po P.O No.: #{model.purchaseOrderNumber} 
                    p.pd P.O Date: #{moment(model.purchaseOrderDate).format(dateFormat)}
                    p.strong.invoice Invoice Date: #{moment(model.date).format(dateFormat)}
                .right 
                    p.strong.border.bg2 Invoice From:
                    p.strong #{settings.company_name}
                    p #{settings.company_address}
                    p.gst GST NO: #{settings.company_reg_number}
                    p.strong.invoice #{translate('Invoice Number')} - #{model.number}
                    p.strong Total Due: #{moneyFormatter({amount: model.total})}
                    p.strong.due #{translate('Payment Due Date')} : #{moment(model.expiredDate).format(dateFormat)}       
            table.table
                thead
                    tr
                        th SR NO.
                        th DESCRIPTION
                        th HSN/SAC code
                        th QTY
                        th UNIT PRICE
                        th TOTAL
                tbody
                    - var srNO = 1;
                    each item in model.items
                        tr
                            td #{srNO++}
                            td #{item.description}
                            td #{item.hsnSacCode}
                            td #{item.quantity}
                            td #{moneyFormatter({amount:item.price})}
                            td #{moneyFormatter({amount:item.total})}
                    tr
                        td(colspan="4")
                        td.cap #{translate('SUB TOTAL')}
                        td #{moneyFormatter({amount:model.subTotal})}
                    tr
                        td(colspan="4")
                        td.cap CGST #{model.cgstRate}%
                        if model.cgstAmount > 0
                            td #{moneyFormatter({amount: model.cgstAmount})}
                        else 
                            td -
                    tr
                        td(colspan="4")
                        td.cap SGST #{model.sgstRate}%
                        if model.sgstAmount > 0
                            td #{moneyFormatter({amount: model.sgstAmount})}
                        else 
                            td -
                    tr
                        td(colspan="4")
                        td.cap #{translate('IGST')} #{model.igstRate}%
                        if model.igstAmount > 0
                            td #{moneyFormatter({amount:model.igstAmount})}
                        else 
                            td -
                    tr
                        td(colspan="4")
                        td.net-amount.cap #{translate('NET AMOUNT')}:
                        td #{moneyFormatter({amount:model.total})}

            .footer
                .bankdetails
                    p.strong Payment Method:
                    p.color Bank Name: AU Small Finance Bank
                    p.color Name: Webnaz Enterprise Private Limited
                    p.color Account No: 2402261865054702
                    p.color IFSC Code: AUBL0002616
                .sign
                    p For Webnaz Enterprise Pvt. Ltd.
                    br
                    p (Authorized Signatory)
        .row-2         
            p.supply “Supply meant for export under bond or letter of undertaking without payment of Integrated Tax.”
